<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: header">
    <title>Update</title>
</head>
<body>
<div class="container mt-4">
    <h3 class="bg-success text-white p-3 mb-4 rounded">Update Content</h3>
    <p>
        <a th:href="@{/blogs}" class="btn btn-outline-success">Back to list</a>
    </p>
    <div class="card shadow-sm">
        <div class="card-body">
            <form th:action="@{/blogs/update}" th:object="${blog}" method="post" novalidate="novalidate">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="Enter title">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <input type="text" id="content" th:field="*{content}" class="form-control" placeholder="Enter content">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <select th:field="*{author}" id="author" class="form-select">
                        <option value="" disabled>--Select Author--</option>
                        <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.username}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select th:field="*{category}" id="category" class="form-select">
                        <option value="" disabled>--Select Category--</option>
                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="createAt" class="form-label">Date created</label>
                    <input type="date" id="createAt" th:field="*{createAt}" class="form-control">
                </div>
                <button type="submit" class="btn btn-success w-100">Edit</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>