<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>View Product</title>
</head>
<body>
<h3>View Product</h3>

<p>
  <a th:href="@{/products}">Back to product list</a>
</p>

<div id="form">
  <div class="cus-detail">
    <label><strong>Name:</strong></label>
    <span th:text="${product.name}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Price:</strong></label>
    <span th:text="${product.price}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Description:</strong></label>
    <span th:text="${product.description}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Manufacture:</strong></label>
    <span th:text="${product.manufacture}"></span>
  </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>