<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>View Product</title>
</head>
<body>
<h3>View Customer</h3>

<p>
  <a th:href="@{/customers}">Back to customer list</a>
</p>

<div id="form">
  <div class="cus-detail">
    <label><strong>Name:</strong></label>
    <span th:text="${customer.name}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Email:</strong></label>
    <span th:text="${customer.email}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Address:</strong></label>
    <span th:text="${customer.address}"></span>
  </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>