<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>View </title>
</head>
<body>
<h3>Content detail</h3>

<p>
  <a th:href="@{/blogs}">Back to list</a>
</p>

<div id="form">
  <div class="cus-detail">
    <label><strong>Title:</strong></label>
    <span th:text="${blog.title}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Content:</strong></label>
    <span th:text="${blog.content}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Author:</strong></label>
    <span th:text="${blog.author}"></span>
  </div>
  <div class="cus-detail">
    <label><strong>Date created :</strong></label>
    <span th:text="${blog.createAt}"></span>
  </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>